<div class="content-sec color-gray">
    <div class="border-down pt-1 pl-4">
        <h5 class=""><%= link_to '<i class="fas fa-long-arrow-alt-left fa-lg color-blue text-decoration-none"></i>'.html_safe, root_path %>&nbsp;&nbsp;Tweet detail </h5>
    </div>

   <%= render "shared/card_tweet", tweet: @tweet %>
</div>

<div class="mx-4 pt-3">
  <div>
    <h6>Like <i class="fas fa-heart"></i></h6>
  </div>
  <div class="row">
    <div class="col-auto">
      <% @tweet.linking_users.each do |user| %>
        <%= link_to (image_tag (user.photo_url), 
          class: 'photo-avatar-post-re rounded-circle box'), 
          tweet_detail_path(user), 
          class: 'tooltips', 
          title: '', 
          data: { toggle: 'tooltip', placement: 'left', original_title: "#{user.username}" }
        %>
      <% end %>
    </div>
  </div>
</div>

<div class="mx-4 pt-3">
  <div>
    <h6>ReTweet <i class="fas fa-retweet"></i></h6>
  </div>
   <div class="row">
    <div class="col-auto">
      <% @tweets.each do |tweet| %>
        <%= link_to (image_tag (tweet.user.photo_url), class: 'photo-avatar-post-re rounded-circle box'), tweet_detail_path(tweet.user_id), class: 'tooltips', title: '', data: { toggle: 'tooltip', placement: 'left', original_title: "#{tweet.user.username}" } %>      
      <% end %>
    </div>
  </div>
</div>
