// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    font-family: 'Arial','Bree Serif', serif;
}

.seccion {
    padding-left: 32em;
    padding-top: 3em;
}

.content-ppal {
    background: #F0F8FF;
    margin-left: 25%;
    display: inline-block;
    margin-right: 30%;

    height: 100%;
    width: 45%;
    min-height: 100vh;
}

.content-sec{
    background: #F0F8FF;
    width: 50%;
    height: 100%;
}

.color-blue {
    color: #1da1f2;
}

.color-black {
    color: #000;
}

.color-blue-deep{
    color: #7f6edf;
}

.color-time{
    color: #0000FF;
}

.icon-twitter{
    border-bottom: 1px solid #2f414e;
    padding-bottom: 10px;
}

.pagination-blue{
    background: #1da1f2 !important;
    border-color: #1da1f2 !important;
}

.mytwitter-post{
    border-bottom: 1px solid #2f414e;
}

.mytwitter-post:hover{
    background: #87CEFA !important;
}

.devise-how:hover{
    background: #87CEFA !important;
}

.bg-gray{
    background: #87CEFA !important;
}

.border-down{
    border-bottom: 1px solid #2f414e;
}

.border-down-white{
    border-bottom: 1px solid #fff;
}

.border-up{
    border-top: 1px solid #2f414e;
}

.message-format{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.photo-avatar{
    width: 70px;
    height: 70px;
    border: solid 2px #ffff;
}

.text-8{
    font-size: 11px !important;
}

.text-11{
    font-size: 11px !important;
}

.text-13{
    font-size: 13px !important;
}

.photo-avatar-post{
    width: 40px;
    height: 40px;
    border: solid 0px #ffff;
}

.photo-avatar-session{
    width: 40px;
    height: 40px;
    border: solid 0px #ffff;
}

.div-like-retweet{
    margin-left: 70%;
}

.devise-form{
    width: 60%;
    margin-left: 20%;
}

.devise-form-1{
    width: 90%;
    margin-left: 5%;
}

.retweet-marco{
    background: #AFEEEE;
    margin-left: 5%;
    margin-right: 5%;
}

.photo-avatar-post-re{
    width: 30px;
    height: 30px;
    border: solid 0px #ffff;
}

.box{
    width: 35px;
    height: 35px;
    border: solid 0px #ffff;
    transition: 0.7s;
}
.box:hover{
    transform: scale(2.3);
    z-index: 2;
    box-shadow: 2px 2px 2px #000;
}

.zoom-icon{
	-webkit-transform: scale(1,1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	-moz-transform: scale(1,1);
	-moz-transition-timing-function: ease-out;
	-moz-trasition-duration: 250ms;
}
.zoom-icon:hover{
	-webkit-transform: scale(1.4,1.4);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 100ms;
	-moz-transform: scale(1,4,1.4);
	-moz-transition-timing-function: ease-out;
	-moz-trasition-duration: 100ms;
}